configurationengine/doc/xsd/confml2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.s60.com/xml/confml/2" 
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xi="http://www.w3.org/2001/XInclude" 
    targetNamespace="http://www.s60.com/xml/confml/2" elementFormDefault="qualified" 
    attributeFormDefault="unqualified">
    <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlink.xsd" id="xlink"/>
    <xs:import namespace="http://www.w3.org/2001/XMLSchema" schemaLocation="XMLSchema.xsd" id="xs"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd" id="xml"/>
    <xs:element name="configuration" type="tns:configurationType"/>
    <xs:element name="meta" type="tns:metaType"/>
    <xs:element name="desc" type="tns:descType"/>
    <xs:element name="icon" type="tns:iconType"/>
    <xs:element name="view" type="tns:viewType"/>
    <xs:element name="group" type="tns:groupType"/>
    <xs:element name="feature" type="tns:featureType"/>
    <xs:element name="setting" type="tns:settingType"/>
    <xs:element name="data" type="tns:dataType"/>
    <xs:element name="rfs" type="tns:rfsType"/>
    <xs:element name="link" type="tns:linkType"/>
    <xs:element name="option" type="tns:optionType"/>
    <xs:element name="property" type="tns:propertyType"/>
    <xs:element name="localPath" type="tns:pathType"/>
    <xs:element name="targetPath" type="tns:pathType"/>
    <xs:complexType name="configurationType">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="tns:meta" maxOccurs="1"/>
			<xs:element ref="tns:desc"/>
			<xs:element ref="tns:icon"/>
			<xs:element ref="tns:view"/>
			<xs:element ref="tns:feature"/>
			<xs:element ref="tns:link"/>
			<xs:element ref="tns:data" maxOccurs="1"/>
			<xs:element ref="tns:rfs" maxOccurs="1"/>
			<xs:element ref="tns:configuration"/>
			<!-- !!!TBD check if including xs:include as an element is right thing to do 
				If so, add also note that e.g. xpointer is not supported (by most of the tools)
			-->
			<xs:element ref="xs:include" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
        <xs:attribute name="version" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <!-- This regexp matches versions declared as x.y[.z] --> 
					<xs:pattern value="[0-9]{1,3}\.[0-9]{1,3}(\.[0-9]{0,3})?"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="name" type="xs:token"/>
        <xs:attributeGroup ref="tns:CommonAttrs"/>
        <!-- allow xml:base for xinclude -->
        <xs:attribute ref="xml:base"/>
    </xs:complexType>
    <xs:complexType name="metaType">
        <xs:all>
			<xs:element name="id" type="tns:idType" minOccurs="0"/>
            <xs:element name="date" type="tns:dateType" minOccurs="0"/>
            <xs:element name="owner" type="tns:ownerType" minOccurs="0"/>
            <xs:element name="editor" type="tns:editorType" minOccurs="0"/>
            <xs:element name="status" type="tns:statusType" minOccurs="0"/>
            <xs:element name="version" type="tns:versionType" minOccurs="0"/>
            <xs:element name="platform" type="tns:platformType" minOccurs="0"/>
            <xs:element name="product" type="tns:productType" minOccurs="0"/>
            <xs:element name="release" type="tns:releaseType" minOccurs="0"/>
            <xs:element name="customer" type="tns:customerType" minOccurs="0"/>
            <xs:element name="origin" type="tns:originType" minOccurs="0"/>
            <xs:element name="target" type="tns:targetType" minOccurs="0"/>
            <xs:element name="desc" type="tns:descType" minOccurs="0"/>
            <xs:element name="icon" type="tns:iconType" minOccurs="0"/>
            <xs:element ref="tns:link" minOccurs="0"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="descType" mixed="true">
        <xs:attribute ref="xlink:href"/>
        <xs:attribute ref="xlink:title"/>
        <xs:attributeGroup ref="tns:CommonAttrs"/>
    </xs:complexType>
    <xs:complexType name="iconType">
        <xs:attribute ref="xlink:href" use="optional"/>
        <xs:attribute ref="xlink:title"/>
        <xs:attributeGroup ref="tns:CommonAttrs"/>
    </xs:complexType>
    <xs:complexType name="linkType">
        <xs:attribute ref="xlink:href" use="optional"/>
        <xs:attribute ref="xlink:title"/>
        <xs:attributeGroup ref="tns:CommonAttrs"/>
    </xs:complexType>
    <xs:complexType name="propertyType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="tns:desc"/>
			<xs:element ref="tns:icon"/>
			<xs:element ref="tns:link"/>
		</xs:choice>
        <xs:attributeGroup ref="tns:CommonAttrs"/>
        <xs:attribute name="name" type="xs:token" use="optional"/>
        <xs:attribute name="value" type="xs:string" use="optional"/>
        <xs:attribute name="unit" type="xs:token"/>
    </xs:complexType>
    <xs:complexType name="settingType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="tns:desc"/>
			<xs:element ref="tns:icon"/>
			<xs:element ref="tns:link"/>
			<xs:element ref="tns:option"/>
			<xs:element ref="tns:property"/>
			<xs:element ref="tns:setting"/>
			<xs:element ref="tns:localPath"/>
			<xs:element ref="tns:targetPath"/>
			<xs:element ref="xs:pattern"/>
			<xs:element ref="xs:minInclusive"/>
			<xs:element ref="xs:maxInclusive"/>
			<xs:element ref="xs:minExclusive"/>
			<xs:element ref="xs:maxExclusive"/>
			<xs:element ref="xs:length"/>
			<xs:element ref="xs:minLength"/>
			<xs:element ref="xs:maxLength"/>
			<xs:element ref="xs:totalDigits"/>
		</xs:choice>
        <xs:attributeGroup ref="tns:CommonAttrs"/>
        <xs:attribute name="relevant" type="xs:token" default="true"/>
        <xs:attribute name="constraint" type="xs:token" default="true"/>
        <xs:attribute name="readOnly" type="xs:boolean" default="false"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="type" type="tns:typeType"/>
        <xs:attribute name="ref" type="xs:NCName"/>
        <xs:attribute name="minOccurs" type="xs:nonNegativeInteger" default="0"/>
        <xs:attribute name="maxOccurs" type="xs:NMTOKEN" default="unbounded"/>
        <xs:attribute name="displayName" type="xs:string"/>
        <xs:attribute name="mapKey" type="xs:string"/>
        <xs:attribute name="mapValue" type="xs:string"/>
        <xs:attribute name="required" type="xs:boolean" default="false"/>
        <!--
            !!!TBD inconsistent defaults: for generic settings this does not have a
            sense
        -->
    </xs:complexType>
    <xs:complexType name="featureType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="tns:desc"/>
			<xs:element ref="tns:icon"/>
			<xs:element ref="tns:link"/>
			<xs:element ref="tns:setting"/>
		</xs:choice>
        <xs:attribute name="name" type="xs:token"/>
        <xs:attribute name="relevant" type="xs:token"/>
        <xs:attribute name="ref" type="xs:NCName" use="required"/>
        <xs:attributeGroup ref="tns:CommonAttrs"/>
    </xs:complexType>
    <xs:complexType name="optionType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="tns:desc"/>
			<xs:element ref="tns:icon"/>
			<xs:element ref="tns:link"/>
		</xs:choice>
        <xs:attributeGroup ref="tns:CommonAttrs"/>
        <xs:attribute name="name" type="xs:token"/>
        <xs:attribute name="value" type="xs:string"/>
        <xs:attribute name="relevant" type="xs:token" default="true"/>
        <xs:attribute name="map" type="xs:string"/>
        <xs:attribute name="mapValue" type="xs:string"/>
        <xs:attribute name="displayName" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="groupType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="tns:desc"/>
			<xs:element ref="tns:icon"/>
			<xs:element ref="tns:link"/>
			<xs:element ref="tns:group"/>
			<xs:element ref="tns:setting"/>
		</xs:choice>
        <xs:attributeGroup ref="tns:CommonAttrs"/>
        <xs:attribute name="name" type="xs:token"/>
    </xs:complexType>
    <xs:complexType name="viewType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="tns:meta" maxOccurs="1"/>
			<xs:element ref="tns:desc"/>
			<xs:element ref="tns:icon"/>
			<xs:element ref="tns:link"/>
			<xs:element ref="tns:group"/>
		</xs:choice>
        <xs:attributeGroup ref="tns:CommonAttrs"/>
        <xs:attribute name="name" type="xs:token"/>
    </xs:complexType>
    <xs:simpleType name="idType">
        <xs:restriction base="xs:NMTOKEN"/>
    </xs:simpleType>
    <xs:simpleType name="dateType">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="ownerType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="editorType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="productType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="statusType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="platformType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="versionType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="releaseType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="customerType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="originType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="targetType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:attributeGroup name="CommonAttrs">
        <xs:attribute name="id" type="xs:NMTOKEN"/>
    </xs:attributeGroup>
    <xs:complexType name="dataType">
        <xs:sequence>
            <xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="tns:CommonAttrs"/>
        <xs:attribute name="extensionPolicy" type="xs:NMTOKEN" default="replace"/>
        <xs:attribute name="template" type="xs:NMTOKEN" default="false"/>
        <xs:attribute name="map" type="xs:string"/>
        <xs:attribute name="empty" type="xs:NMTOKEN" default="false"/>
    </xs:complexType>
    <xs:complexType name="rfsType">
        <xs:sequence>
            <xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attributeGroup ref="tns:CommonAttrs"/>
    </xs:complexType>
    <xs:simpleType name="typeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="int"/>
            <xs:enumeration value="boolean"/>
            <xs:enumeration value="real"/>
            <xs:enumeration value="string"/>
            <xs:enumeration value="file"/>
            <xs:enumeration value="folder"/>
            <xs:enumeration value="sequence"/>
            <xs:enumeration value="selection"/>
            <xs:enumeration value="multiSelection"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="time"/>
            <xs:enumeration value="dateTime"/>
            <xs:enumeration value="duration"/>
            <xs:enumeration value="hexBinary"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="pathType" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="tns:desc"/>
			<xs:element ref="tns:icon"/>
			<xs:element ref="tns:link"/>
			<xs:element ref="xs:pattern" />
			<xs:element ref="xs:length" />
			<xs:element ref="xs:minLength" />
			<xs:element ref="xs:maxLength" />
			<xs:element ref="tns:property" />
		</xs:choice>
        <xs:attributeGroup ref="tns:CommonAttrs"/>
        <xs:attribute name="constraint" type="xs:token" default="true"/>
        <xs:attribute name="readOnly" type="xs:boolean" default="false"/>
        <xs:attribute name="required" type="xs:boolean" default="false"/>
        <xs:attribute name="map" type="xs:string"/>
    </xs:complexType>
</xs:schema>
